body {
font-family: Arial, sans-serif;
line-height: 1.6;
margin: 0;
padding: 0;
background-color: #f0f3fa;
color: #222;
}
img{
    width: 20%;
}
body{
    background-color: beige;
}
h1{
    color: #1e3799;
  text-align: center;
  margin-top: 10px;
}
h2,h3{
    color: #4a69bd;
  margin-top: 10px;
}
div{
     border: 2px solid #0a3d62;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px;
  margin: 2.5% 25%;
  text-align: justify;
}

header,
nav,
section,
article,
aside,
footer {
 padding: 15px;
  margin: 10px;
  border: 1px solid #1e3799;
  border-radius: 5px;
  background-color: #fff;
}
header {
  background-color: #0a3d62;
  color: white;
  text-align: center;
  padding: 20px;
  border: none;
  border-radius: 0 0 5px 5px;
}
header h1 {
  color: #ffffff;
}


nav ul {
list-style: none;
padding: 0;
display: flex;
gap: 15px;
}

nav a {
text-decoration: none;
color: #333;
}

footer {
background-color: beige;
text-align: center;
font-size: 0.9em;
}